{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "marker-color": "#37ff00",
        "marker-size": "small",
        "marker-symbol": "circle",
        "Nombre ": "S/E El circo",
        "Nivel": "230kV",
        "Dueño": "ENEL"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          -74.0625,
          4.58691
        ]
      }
    }
  ]
}